body {
   margin: 0;
   background-color: #212121 !important;
}

.complex {
   display: flex;
   margin: 2.5rem;
   background-image: linear-gradient(to bottom left, #2b2b2b, #252525);
   background-blend-mode: soft-light;
   border: solid 2px #4fff98;
   border-radius: 20px;
}

img {
   margin: 2.5rem;
   width: 16rem;
   height: 16rem;
   border: 3px solid #4fff98;
   border-radius: 50%;

}

img:hover {
   filter: saturate(2%);
   transition: all 0.4s;
}

.rside {
   float: right;
   margin-inline-end: auto;
   padding: 2rem;
   border-left: 2px solid #4fff98;
}

h3,
h4 {
   color: #4fff98;
   margin-block: 0.5rem;
}


li{
   background: inherit !important;
   color: white !important;
}

a {
   font-size: 18px;
   text-decoration: none;
   line-height: 32px;
   color: #bababa;
}

a:hover {
   color: #ffffff;
   transition: all 0.1s;
}

@media all and (max-width: 640px) {
   .complex {
      display: inline-block;
      margin: 0%;
      border: none;
      border-radius: 0%;
   }

   .image {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   img{
      margin: 1rem ;
      width: 12rem;
      height: 12rem;
   }

   .rside {
      border: none;
      padding: 8px 12px;
   }
}