body{
   margin: 0;
}
.message {
   border: 1px solid #62ffa6;
   padding-inline: 16px;
   padding-block: 6px;
   border-radius: 8px;
   width: 30rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

img{
   width: 240px;
   height: 240px;
}

/* media screen for large screen */
@media screen and (min-width:800px) {
   p {
      font-size: 1.2em;
   }
   .border{
      border-left: 0 !important;
      border-top-left-radius:0 !important ;
      border-bottom-left-radius: 0 !important;
   }
}

/* media screen for small screen */
@media screen and (max-width:500px) {
   body{
      font-size: 0.8rem;
   }
   .img-container{
      display: none !important;
   }
}
